<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ring.mapper.BoardMapper">
	<insert id="write">
		insert into board(title, content) values (#{title},#{content})
	</insert>
	
	<select id="list" resultType="com.ring.model.BoardVO">
		select *
		from (
				select @rownum:=@rownum+1 rownum, board.* 
				from board, (select @rownum:=0) as tmp
				<if test="keyword != null">
				where title like concat('%',#{keyword},'%')

				  <choose>
				    <when test="type == 'T'.toString()">
				      AND title like concat('%',#{keyword},'%')
				    </when>
				    <when test="type == 'C'.toString()">
				      AND content like concat('%',#{keyword},'%')
				    </when>
				    <when test="type == 'W'.toString()">
				      AND id like concat('%',#{keyword},'%')
				    </when>				    
				    <otherwise>
				      AND title like concat('%',#{keyword},'%')
				      OR content like concat('%',#{keyword},'%')
				    </otherwise>
				  </choose>	
				
				</if>
		        order by bno desc
		) as boardlist
		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>
	
	<select id="detail" resultType="com.ring.model.BoardVO">
		select * from board where bno=#{bno}
	</select>
	
	<update id="cntup">
		update board set count = count+1 where bno=#{bno}
	</update>
	
	<update id="modify">
		update board set title=#{title}, content=#{content} where bno=#{bno}
	</update>
	
	<delete id="delete">
		delete from board where bno=#{bno}
	</delete>
	
	<select id="total" resultType="int">
		select count(*) from board
		<if test="keyword != null">
		where title like concat('%',#{keyword},'%')
		
		  <choose>
		    <when test="type == 'T'.toString()">
		      AND title like concat('%',#{keyword},'%')
		    </when>
		    <when test="type == 'C'.toString()">
		      AND content like concat('%',#{keyword},'%')
		    </when>
		    <when test="type == 'W'.toString()">
		      AND id like concat('%',#{keyword},'%')
		    </when>				    
		    <otherwise>
		      AND title like concat('%',#{keyword},'%')
		      OR content like concat('%',#{keyword},'%')
		    </otherwise>
		  </choose>	
		
		</if>
	</select>

</mapper>