<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ring.mapper.SignupMapper"> 

	<insert id="Signup">
		insert into member(id, pw, addr, phone, email, name, age)
		values(#{id}, #{pw}, #{addr}, #{phone}, #{email}, #{name}, #{age})
	</insert>
	
</mapper> 